{
  "applinks": {
    "apps": [],
    "details": [
      {
        "appID": "TEAMID.app.aphylia",
        "paths": [
          "/",
          "/password-change",
          "/verify-email",
          "/setup",
          "/forgot-password",
          "/email-verification",
          "/*"
        ]
      }
    ]
  },
  "webcredentials": {
    "apps": [
      "TEAMID.app.aphylia"
    ]
  }
}
